.footer {
    background-color: var(--vapor-color-background-normal);
}
.footer.content-section {
    padding-bottom: 10rem;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    padding: var(--vapor-size-space-600) 0;
    border-top: .0625rem solid var(--vapor-color-border-normal);
}
.footer-info-column {
    flex: 0 0 35%;
    margin-right: var(--vapor-size-space-600);
}
.footer-section {
    margin-bottom: var(--vapor-size-space-500);
}
.footer-section:last-child {
    margin-bottom: 0;
}
.footer-section-vertical {
    display: flex;
    flex-direction: column;
}
.footer-title {
    margin-bottom: var(--vapor-size-space-200);
}
.footer-text {
    margin-bottom: var(--vapor-size-space-200);
}
.footer-link {
    padding: 0;
    display: flex;
    align-items: center;
    gap: var(--vapor-size-space-075);
    color: var(--vapor-color-gray-900);
}
.footer-link:hover {
    color: var(--vapor-color-gray-800);
}
.footer-links li {
    margin-bottom: var(--vapor-size-space-200);
}
.footer-link-chat {
    padding: 0;
    display: flex;
    align-items: center;
    gap: var(--vapor-size-space-075);
    color: var(--vapor-color-blue-500);
}
.footer-link-chat:hover {
    color: var(--vapor-color-blue-600);
}
.footer-links-column {
    flex: 0 0 45%;
}
.footer-links-wrapper {
    display: flex;
    justify-content: space-between;
}
.footer-links-block {
    flex: 0 0 48%;
}
.footer-top-button {
    flex: 0 0 15%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    padding-top: var(--vapor-size-space-400);
    border-top: .0625rem solid var(--vapor-color-border-normal);
}
.footer-info-text {
    display: flex;
    flex-direction: column;
    gap: var(--vapor-size-space-050);
}
.social-icons {
    display: flex;
    align-items: flex-start;
    gap: var(--vapor-size-space-200);
}
.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--vapor-size-size-300);
    height: var(--vapor-size-size-300);
    color: var(--vapor-color-background-hint);
    transition: color 0.2s ease;
}
.social-icon:hover {
    color: var(--vapor-color-background-hint-darker);
}
@media (min-width: 1440px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1172px !important;
    }
}
@media (max-width: 992px) {
    .footer-content {
    flex-direction: column;
    }
    .footer-info-column, 
    .footer-links-column {
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: var(--vapor-size-space-500);
    }
    .footer-top-button {
        flex: 0 0 100%;
        justify-content: flex-start;
        margin-top: var(--vapor-size-space-400);
    }
}
@media (max-width: 768px) {
        .footer-links-wrapper {
        flex-direction: row;
    }
    .footer-links-block {
        flex: 0 0 50%;
        margin-bottom: var(--vapor-size-space-500);
    }
    .footer-bottom-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-info-text {
        margin-bottom: var(--vapor-size-space-300);
    }
    .social-icons {
        margin-top: var(--vapor-size-space-300);
    }
}
@media (max-width: 576px) {
    .footer-top-button {
        margin-top: var(--vapor-size-space-000);
    }
} 