@layer vapor-theme, theme, vapor-reset, base, vapor-component, components, vapor-utilities, utilities;
@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --pointer-x: 50%;
  --pointer-y: 50%;
  --pointer-from-center: 0;
  --pointer-from-top: 0.5;
  --pointer-from-left: 0.5;
  --card-opacity: 0;
  --rotate-x: 0deg;
  --rotate-y: 0deg;
  --background-x: 50%;
  --background-y: 50%;
  --grain: src/assets/grain.webp;
  --icon: src/assets/iconpattern.png;
  --behind-gradient: none;
  --inner-gradient: none;
  --sunpillar-1: hsl(2, 100%, 73%);
  --sunpillar-2: hsl(53, 100%, 69%);
  --sunpillar-3: hsl(93, 100%, 69%);
  --sunpillar-4: hsl(176, 100%, 76%);
  --sunpillar-5: hsl(228, 100%, 74%);
  --sunpillar-6: hsl(283, 100%, 73%);
  --sunpillar-clr-1: var(--sunpillar-1);
  --sunpillar-clr-2: var(--sunpillar-2);
  --sunpillar-clr-3: var(--sunpillar-3);
  --sunpillar-clr-4: var(--sunpillar-4);
  --sunpillar-clr-5: var(--sunpillar-5);
  --sunpillar-clr-6: var(--sunpillar-6);
  --ktc-tech-up-red: #ec1c24;
  --ktc-tech-up-fullstack: #0e75e2;
  --ktc-tech-up-cybersecurity: #ec3550;
  --ktc-tech-up-frontend: #28c864;
  --ktc-tech-up-backend: #19e1ca;
  --ktc-tech-up-cloud-infra: #728CF4;
  --ktc-tech-up-cloud-native: #ffc800;
  --ktc-tech-up-generative-ai: #ff6200;
  --ktc-tech-up-product-designer: #f413a9;
  --ktc-tech-up-pm: #974af0;
}

:root.vapor-light-theme {
  --ktc-background-gradient: linear-gradient(145deg,#FFFFFFcc 0%,#F7F7FA88 100%);
  --ktc-text-gradient: linear-gradient(to bottom, var(--vapor-color-foreground-normal), var(--vapor-color-foreground-secondary));
}

:root.vapor-dark-theme {
  --vapor-color-foreground-contrast: #323640;
  --vapor-color-foreground-contrast-darker: #434753;
  --vapor-color-foreground-hint: #737785;
  --vapor-color-foreground-hint-darker: #8C8F9E;
  --vapor-color-foreground-normal: #D6D6DE;
  --vapor-color-foreground-normal-lighter: #8C8F9E;
  --vapor-color-foreground-secondary: #B4B5C3;
  --vapor-color-foreground-secondary-darker: #D6D6DE;
  --vapor-color-foreground-accent: #FFFFFF;
  --vapor-color-background-normal: #141418;
  --vapor-color-background-normal-lighter: #1B1E23;
  --vapor-color-background-normal-darker: #1B1E23;
  --vapor-color-background-secondary: #262930;
  --vapor-color-background-contrast: #323640;
  --vapor-color-background-hint: #737785;
  --vapor-color-border-normal: #262930;
  --vapor-color-border-secondary: #262930;
  --vapor-color-border-contrast: #323640;
  --vapor-color-border-hint: #737785;
  --ktc-background-gradient: linear-gradient(145deg,#3236408c 0%,#62667344 100%);
  --ktc-text-gradient: linear-gradient(to bottom, var(--vapor-color-foreground-normal), var(--vapor-color-foreground-secondary));
}

/* Global styles */
.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

* {
  word-break: keep-all;
  word-wrap: break-word;
}
.content-section {
  padding: var(--vapor-size-space-800) 0;
}
.content-hero-section {
  padding-top: 7.5rem;
}
.title {
  color: var(--vapor-color-foreground-normal);
  margin-bottom: var(--vapor-size-space-700);
  display: block;
  white-space: pre-line;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.open-badge {
  background: var(--ktc-tech-up-red);
  color: var(--vapor-color-white);
  border: none;
}
.close-badge {
  background: var(--vapor-color-background-secondary);
  color: var(--vaporcolor-foreground-hint-darker);
  border: none;
}

/* Responsive container breakpoints */
/* Small devices (576px and up) */
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
    padding-right: 16px;
    padding-left: 16px; 
  }
}
/* Medium devices (768px and up) */
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
/* Small devices (768px and down) */
@media (max-width: 768px) {
  .content-hero-section {
    padding-top: 6.25rem;
  }
}
/* Large devices (992px and up) */
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 940px;
  }
}
/* Extra large devices (1200px and up) */
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1172px;
  }
}
/* Extra extra large devices (1440px and up) */
@media (min-width: 1440px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1404px;
  }
}